.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: end;
  .cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .cart-content {
      margin-left: 76.5%;
      height: 100vh;
      width: 350px;
      position: relative;
      background-color: white;
      animation: cartSlider 0.4s ease forwards;
      transform: translateX(100%);
      .cart-header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 8px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
        .close-btn {
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
          font-weight: 800;
          user-select: none;
          &:hover {
            opacity: 0.5;
          }
          &:active {
            opacity: 1;
          }
        }
      }
      .cart-checkout {
        padding-inline: 2px;
        margin-top: 15px;
        .total-amount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-inline: 5px;
          margin-top: 10px;
        }
        .checkout-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 16px 10px;
          width: 40vh;
        }
      }

      .empty-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .empty-cart-icon {
          font-size: 5rem;
          padding: 5px;
          margin-top: 40px;
          color: var(--accent-color);
        }
        .empty-cart-header {
          font-size: 1.5rem;
          padding: 5px;
          color: var(--primary-text-color);
        }
        .empty-cart-title {
          font-size: 1rem;
          color: var(--secondary-text-color);
        }
      }
    }
  }
}

@keyframes cartSlider {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .cart{
    display:flex;
    margin-left: 0%;
    margin-right: 40%;
    width: 100%;
    height: 100%;
    justify-content:flex-start;
  }
}
